
  <div class="form-signin container text-center my-5" id="login">
    <img class="mb-4"
      src="http://assets.stickpng.com/thumbs/585e4bcdcb11b227491c3396.png" alt=""
      width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating my-3">
      <input type="text" [(ngModel)]="usuario" class="form-control" id="user" placeholder="unicesar">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" [(ngModel)]="clave" class="form-control" id="password" placeholder="***">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" (click)="login()">Iniciar sesion</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </div>
